.cart-container {
  width: 30vw;
  display: flex;
  border-left: 1px solid crimson;
  margin-left: 5%;
  padding: 1%;
  flex-flow: column;
}
.cart-container h3 {
  font-weight: 100;
}
.cart-item {
  display: flex;
  margin: 0px 5%;
  height: 15vh;
  margin: 2% 0;
  max-width: 90%;
  align-items: center;
}
.cart-item img {
  width: 35%;
  max-height: 100%;

  height: auto;
}
.item-description {
  display: flex;
  width: 60%;
  flex-flow: column;
}
.item-description h5 {
  font-size: 1.4vw;
  max-width: 80%;
  text-align: start;
  margin-left: 5%;
}
.item-purchase {
  display: flex;
  margin-right: 10px;
  align-self: flex-end;
  justify-self: flex-end;
}
.item-purchase p {
  margin: 0 5%;
  font-size: 1.5vw;
  align-self: center;
  font-weight: 100;
}
.item-purchase button {
  font-size: 1.5vw;
  cursor: pointer;
  margin-left: 5px;
  border: none;
  outline: none;
  background: transparent;
}
.item-purchase button:hover {
  color: crimson;
}
.cart-price h4 {
  margin-right: 5%;
  text-align: end;
}
.cart-price button {
  align-self: flex-start;
  margin-top: 5px;
  font-size: 1.3vw;
  padding: 1% 15%;
  background: transparent;
  border: 1px solid crimson;
  outline: none;
  color: crimson;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.cart-price button:hover {
  color: white;
  background: crimson;
}
.cart-price {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
