.navbar {
  width: 100vw;
  display: flex;
  background: crimson;
  justify-content: center;
  align-items: center;
}
.navbar h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}
